/* calculator container */
.container{
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 39%;
  height: 355px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 15%;
}
.input-btn-container{
  position: absolute;

}
.btn-container{
  width: 475px;
  height: 300px;
}
/*calculator btns*/
.btn{
  display: inline-block;
  width: 75px;
  height: 50px;
  margin: 6px;
  line-height: 50px;
  border: 1px solid black;
}

/* display field */
.display{
  width: 450px;
  height: 50px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid black;
}
